<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column"
						data-widget="treeview" role="menu" data-accordion="false">
						
						<li class="nav-item"><a href="#" class="nav-link"> <i
								class="nav-icon fas fa-chart-pie"></i>
								<p>
									Tài khoản<i class="right fas fa-angle-left"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="accountadmin"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Quản lý tài khoản</p>
								</a></li>
							</ul></li>
							

						<li class="nav-item"><a href="#" class="nav-link"> <i
								class="nav-icon fas fa-chart-pie"></i>
								<p>
									Người dùng <i class="right fas fa-angle-left"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="useradmin"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Quản lý người dùng</p>
								</a></li>
							</ul></li>
						<li class="nav-item"><a href="#" class="nav-link"> <i
								class="nav-icon fas fa-tree"></i>
								<p>
									Sản phẩm <i class="fas fa-angle-left right"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="productadmin"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Quản lý sản phẩm</p>
								</a></li>								
							</ul></li>
							
							<li class="nav-item"><a href="#" class="nav-link"> <i
								class="nav-icon fas fa-tree"></i>
								<p>
									Hóa đơn <i class="fas fa-angle-left right"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="invoiceadmin"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Quản lý hóa đơn</p>
								</a></li>								
							</ul></li>

					</ul>
				</nav>